			<article>
				<a href="index.html ">
				<header><p>{{user.match }}</p>></header>
					<img src="/images/proefAfbeelding.svg" alt="Foto van gebruiker">
					<footer>
						<p>{{user.name}}</p>
						<p>{{user.age}}</p>
					</footer>
				</a>
			</article>	