    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/images/Arrow Back.png" alt="Go back to the overview page"></a></li>
            </ul>
        </nav>
    </header>