<form action="/editprofile/insert" method="POST">
    <label for="aboutme">About me</label>
    <input type="text" name="aboutme" id="aboutme">

    <label for="function">Function/Education</label>
    <input type="text" name="function" id="function">

    <label for="company">Company/School</label>
    <input type="text" name="company" id="company">

    <label for="city">City</label>
    <input type="text" name="city" id="city">

    <label for="genderMale">Male</label>
    <input type="radio" name="gender" id="genderMale">

    <label for="genderFemale">Female</label>
    <input type="radio" name="gender" id="genderFemale">
    <br>
    <button type="submit">Save changes</button>
</form>

<div>
    {{#each items}}
    <article>
        <div>About: {{this.aboutme}}</div>
        <div></div>
        <div></div>
        <div></div>

    </article>
    {{/each}}

</div>