<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Zodimaniac</title>
		<meta name="description" content="A dating site for real Zodimaniacs">
		<link rel="stylesheet" href="/styles/main.css" type="text/css">
	</head>

	<body>
		{{> partials/header }}
		<main>
			{{users.forEach(function(user){ }}
				{{> partials/card }} 
			{{ }); }}
		</main>
	</body>

</html>
