    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/images/Arrow Back.png" alt="Go back to the overview page"></a></li>
            </ul>
        </nav>
    </header>
<h1>Sign up</h1>
<form id="signup" action="/signup/insert" method="POST">
    <label for="username">My username will be</label>
    <input type="text" name="username" id="username" placeholder="My desired username" required>

    <label for="email">My email is</label>
    <input type="email" name="email" id="email" placeholder="My desired email" required>

    <label for="password">I want my password to be</label>
    <input type="password" name="password" id="password" placeholder="My desired password" required>

    <label for="confPassword">Confirm password</label>
    <input type="password" name="confPassword" id="confPassword" placeholder="My confirmed password" required>

    <h2>I am a</h2>
    <input type="radio" name="gender" id="genderMale" value="male" checked="checked" required>
    <label class="radio50" for="genderMale">Male</label>
    <input type="radio" name="gender" id="genderFemale" value="female">
    <label class="radio50" for="genderFemale">Female</label>
    {{!-- Misschien iets van een profiel foto uploaden --}}

    <label for="DoB">My birthday is on</label>
    <input type="date" name="DoB" id="DoB" max="2001-01-01" value="2001-01-01" required>

    <h2>I'm intrested in</h2>
    <input type="radio" name="prefGender" id="prefMale" checked="checked" value="male" required>
    <label class="radio50" for="prefMale">Male</label>
    <input type="radio" name="prefGender" id="prefFemale" value="female">
    <label class="radio50" for="prefFemale">Female</label>

    {{#if errors}}
    <ul>
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}} 
        {{#if userTaken}} 
        <li>The username is already taken.</li>
        {{/if}}
    </ul>
    {{/if}}



    <button id="premium" type="submit">Done</button>
</form>