html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1em;
    text-align: center;
}

#landing{
  background: rgba(0, 0, 0, 1);
}
/* Background with an overlay */
#landing::after{
  background: url("../images/landing_bg.png") no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8; 
}

/* Header styles */
  header {
      height: 3.125em;
      background-color: #343557;
      width: 100%;
      margin-bottom: 3%;
      position: relative;
  }
  nav img {
    width: 1em;
    display: block;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    height: 3.125em;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  nav li {
    flex: 1;
    align-items: center;
    display: flex;
    margin-left: 5%;
  }
/* end header styles */

h2{
  font-weight: normal;
  color: #343557;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 2%;
    font-size: 1.2em;
}

label{
  display: block;
  color: #343557;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 2%;
  font-size: 1.2em;
}

input, textarea{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding-left: 5%;
  margin-bottom: 5%;
  border: none;
  background: #ececec;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1em;
}

#userProfile{
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  display: block;
  margin: auto;
  border: solid black 1px;
  border-radius: 50%;
  margin-bottom: 5%;
  background-color: white;
}

#uploadFile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#userProfileContainer{
  position: relative;
}

#userProfileContainer label {
  background: #343557;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  padding: 2%;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: .8em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  position: absolute;
  top: 70%;
  left: 60%;
}

#userProfileContainer label:hover{
  background: #3e4067;
}

#userProfileContainer label:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#premium{
  background: linear-gradient(to left, #aa3b6a, #7b0867);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 2%;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
  text-decoration: none;
  transition: .4s;
}

#premium:hover{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, #bd4276, #a70c8c);
}

#indexMenu{
  position: relative;
}

p{
  font-weight: lighter;
  color: #565656;
  font-style: italic;
}

input[type="radio"], input[type="range"]{
  box-sizing: border-box;
  margin: 0;
}

.radio50{
  width: 50%;
  background-color: #ececec;
  text-align: center;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  /* Dit is waarschijnlijk niet semantisch, maar ik heb nog geen enkel andere oplossing kunnen vinden om 50% breedte object naast elkaar te kunnen plaatsen */
  float: left; 
  color: black;
  font-size: 1em;
  margin-bottom: 5%;
  cursor: pointer;
}

input[type="radio"]:checked + label{
  background: #c4c4c4
}

input[type="range"]{
  width: 80%;
}

/* #signup input:not(:placeholder-shown){
  color:red;
}

#signup input:valid{
  color:black;
} */

.warning{
  color: red;
}

button[type="submit"]{
    background: #343557;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 2%;
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    text-decoration: none;
}

button[type="submit"]:hover{
background: #3e4067;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#indexBio{
  margin-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
}

.buttonIcon{
  border: solid 1px #cccbcb;
  border-radius: 50%;
  display: block;
  width: fit-content;
  padding: 3%;
  color: #565656;
  position: absolute;
  left: 30%;
  top: 25%;
  text-decoration: none;
  font-size: 80%;
  background-color: white;
}

.buttonIcon img{
  width: 2em;
  height: 2em;
}

.buttonIcon:nth-of-type(2){
  left: 55%;
}

.buttonIcon:hover{
  border: solid 1px gray;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

/* landing page  */
#landingLogo{
  width: 40vw;
  height: 40vw;
  display: block;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 35%;
}

#landing a{
  width: 10em;
}

#loginButton{
  background: linear-gradient(to left, #aa3b6a, #7b0867);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 2%;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
  text-decoration: none;
  transition: .4s;
}

#loginButton:hover{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, #bd4276, #a70c8c);
}

#registerButton{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  color: #5e5e78;
  cursor: pointer;
  padding: 2%;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
  text-decoration: none;
  transition: .4s;
}

#registerButton:hover{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}
/* end landing page */

input[type="radio"]{
  display: none ;
}

/* All possible background theme's */

#cancer{
  background:url("/images/themes/cancer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pisces{
  background:url("/images/themes/pisces.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#aquarius{
  background:url("/images/themes/aquarius.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#aries{
  background:url("/images/themes/aries.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#taurus{
  background:url("/images/themes/taurus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gemini{
  background:url("/images/themes/cancer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#leo{
  background:url("/images/themes/leo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#virgo{
  background:url("/images/themes/virgo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#libra{
  background:url("/images/themes/libra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#scorpio{
  background:url("/images/themes/scorpio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#sagittarius{
  background:url("/images/themes/sagittarius.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#capricorn{
  background:url("/images/themes/capricorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* end background themes */

#loginContainer{
  width: 70vw;
  border: solid 1px #c4c4c4;
  border-radius: 15px;
  display: block;
  margin: auto;
  padding: 5%;
  background-color: #cccbcb;
  margin-top: 25%;
}