html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1em;
    text-align: center;
}

/* Header styles */
header {
    height: 3.125em;
    background-color: #343557;
    width: 100%;
    margin-bottom: 3%;
    position: relative;
}
nav img {
  width: 1em;
  display: block;
  margin: 0 auto;
}

nav ul {
  display: flex;
  height: 3.125em;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

nav li {
  flex: 1;
  align-items: center;
  display: flex;
  margin-left: 5%;
}

/*  */

#userProfile{
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  display: block;
  margin: auto;
  border: solid black 1px;
  border-radius: 50%;
  margin-bottom: 5%;
}

#uploadFile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
  background: #343557;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  padding: 2%;
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

label:hover{
  background: #403eaa;
}

label:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}